*{
	box-sizing:border-box;
}
html {
        font-family:Arial, Helvetica sans-serif;
        font-size:1.5em;
        height:100%;
}

body {
	margin: 0;
        padding: 0;
        height: 100%;
        background-color: #0C243C;
	overflow: auto;
	line-height: 1.6;
}

header {
        background-color: #0C243C;
        color: #1E90FF;
        font-size: 1em;
        width: 100%;
	padding: 20px;
	border-bottom: 4px solid yellow;
	position: relative;
}

#menu-icon {
	position: absolute;
	right: 5px;
	padding: 5px;
    	cursor: pointer;
}

#menu{
    	display: none;
    	position: relative;
	text-align: left;
	width: 100%;
    	background-color: #13265C;
    	color: white;
	padding: 10px;
    	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

ul {
	list-style-type: none;
	margin: 0;
        padding: 0;
}

ul li {
	margin: 10px;
}

#menu.active {
    	display: block;
}

a {

	text-decoration: none;
	color: white;
}

.skillicon {
	width: 64px;
	height: 64px;
	margin: 10px;
}

.profilepix {
	max-width: 100%;
	height: 30%;
	width: 50%;
	border: 2px solid yellow;
	border-radius: 50%;
	margin: auto;
}

h2 {
	text-align: center;
	color: white;
}

h2 + p {
	color: white;
	padding: 0 20px;
	font-size: 0.8em;
}

h3 {
	text-align: center;
	color: white;
	font-weight: bold;
}

h3 + img {
	height: 20%;
	border: 2px solid white;
	border-radius: 10%;
	margin: auto;
}

#home {
	/*display: flex;
	flex-direction: column;
	justify-content: center;*/
	position: relative;
	width: 100%;
	height: 80%;
	margin: 0;
	padding: 15px;
	line-height: 1.7;
	text-align: left;
	border-radius: 0;
	background: #0C243C url('images/laptop-5673901_1280.jpg');
	background-size: cover;
}

div {
	width: 90%;
	margin: 10px auto;
	padding: 10px;
	color: white;
	font-size: 0.6em;
	background-color: #13265C;
	border-radius: 10%;
	text-align: justify;
}

footer {
        bottom: 0;
        left: 0;                                                          background-color: #0C243C;
        width:100%;
        text-align: center;
        padding:20px;
        font-size: 0.8em;
        color: white;
	border-top: 3px solid yellow;
}

.button {
	position: absolute;
	bottom: 100px;
  	display: block;
  	padding: 10px 18px;
  	font-size: 20px;
  	cursor: pointer;
  	text-align: center;
  	width: 200px;
	margin: 0 auto;
  	text-decoration: none;
  	outline: none;
  	color: #fff;
  	background-color: #13265C;
  	border: 2px solid yellow;
  	border-radius: 12px;
  	box-shadow: 0 4px black;
}

.button:hover {background-color: grey}

.button:active {
  box-shadow: 0 4px #666;
  transform: translateY(3px);
}

img {
	width: 100%;
	display: block;
	margin-left: auto;
  	margin-right: auto;
}

.fa-brands {
	margin: 5px;
	font-size: 1.2em;
}
