*{
	box-sizing:border-box;
}
html {
        font-family:Arial, Helvetica sans-serif;
        font-size:1.5em;
}

main {
	max-width: 1200px;
	height: 100%;
	margin: auto;
}
body {
	margin: 0;
        padding: 0;
        height: 100%;
        background-color: #0C243C;
	overflow: auto;
	line-height: 1.6;
}

header {
        background-color: #0C243C;
        color: #1E90FF;
        font-size: 1em;
        width: 100%;
	padding: 20px;
	border-bottom: 4px solid yellow;
	position: relative;
}

#menu-icon {
	position: absolute;
	right: 5px;
	padding: 5px;
    	cursor: pointer;
}

#menu{
    	display: none;
    	position: relative;
	text-align: left;
	width: 100%;
    	background-color: #13265C;
    	color: white;
	padding: 10px;
    	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

ul {
	list-style-type: none;
	margin: 0;
        padding: 0;
}

ul li {
	margin: 10px;
}

#menu.active {
    	display: block;
}

a {

	text-decoration: none;
	color: white;
}

.skillicon {
	width: 64px;
	height: 64px;
	margin: 10px;
}

.profilepix {
	max-width: 100%;
	height: 30%;
	width: 50%;
	border: 2px solid yellow;
	border-radius: 50%;
	margin: auto;
}

h2 {
	text-align: center;
	color: white;
}

h2 + p {
	color: white;
	padding: 0 20px;
	font-size: 0.8em;
}

h3 {
	text-align: center;
	color: white;
	font-weight: bold;
}

h3 + img {
	height: 20%;
	border: 2px solid white;
	margin: auto;
}

#home {
	/*display: flex;
	flex-direction: column;
	justify-content: center;*/
	position: relative;
	width: 100%;
	height: 80%;
	margin: 0;
	padding: 15px;
	line-height: 1.7;
	text-align: left;
	border-radius: 0;
	background: #0C243C url('images/laptop-5673901_1280.jpg');
	background-size: cover;
}

div {
	width: 90%;
	margin: 10px auto;
	padding: 10px;
	color: white;
	font-size: 0.6em;
	background-color: #13265C;
	border-radius: 10%;
	text-align: justify;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

footer {
        bottom: 0;
        left: 0;                                                          background-color: #0C243C;
        width:100%;
        text-align: center;
        padding:20px;
        font-size: 0.8em;
        color: white;
	border-top: 3px solid yellow;
}

.button {
	position: absolute;
	bottom: 100px;
  	display: block;
  	padding: 10px 18px;
  	font-size: 20px;
  	cursor: pointer;
  	text-align: center;
  	width: 200px;
	margin: 0 auto;
  	text-decoration: none;
  	outline: none;
  	color: #fff;
  	background-color: #13265C;
  	border: 2px solid yellow;
  	border-radius: 12px;
  	box-shadow: 0 4px black;
}

.button:hover {background-color: grey}

.button:active {
  box-shadow: 0 4px #666;
  transform: translateY(3px);
}

img {
	width: 100%;
}

.productImage {
	width: 200px;
	height: 250px;
	display: block;
        margin-left: auto;
        margin-right: auto;
	border: none;
}
.fa-brands {
	margin: 7px;
}
