*{
	box-sizing:border-box;
}
html {
        font-family:Arial, Helvetica sans-serif;
        font-size:1.5em;
        height:100%;
}

body {
        margin: 0;
        padding: 0;
        height: 100%;
        background-color: #13265C
}

header {
        background-color: #0C243C;
        /*position: fixed;*/
        color: #1E90FF;
        font-size: 0.5em;
        padding: 15px;
        width: 100%;
        text-align: center;
}


h2 {
	text-align: center;
}

div {
	border: 2px solid white;
	height: 100%;
	width: 80%;
	margin: 10px auto;
	padding: 5px;
}

footer {
        /*position: fixed;*/
        bottom: 0;
        left: 0;                                                              background-color: #0C243C;
        width:100%;
        text-align: center;
        padding:20px;
        font-size: 0.3em;
        color: white;
}
footer a {
        text-decoration: none;
        color: white;
}
